.resenas-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  width: 100%;
  position: fixed;
  margin-bottom: 3rem;
  z-index: 4;
  top: 0;
}
header .navbar {
  background-color: #121212 !important;
  padding: 1.5rem;
  width: 100%;
}
header .navbar .container-fluid {
  flex-direction: row-reverse;
}
header .navbar .container-fluid .navbar-toggler {
  --bs-navbar-toggler-focus-width: 0rem !important;
}
header .navbar .container-fluid .logo-header-deployed {
  display: none;
  height: 2.5rem;
}
@media (max-width: 991px) {
  header .navbar .container-fluid .logo-header-deployed {
    display: block;
  }
}
header .navbar .container-fluid .navbar-collapse {
  justify-content: center;
}
header .navbar .container-fluid .navbar-collapse .navbar-nav li {
  margin-right: 1rem;
}
header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-link {
  color: rgb(196, 196, 196);
}
header .navbar .container-fluid .navbar-collapse .navbar-nav .active {
  color: rgb(255, 255, 255) !important;
}
header .navbar .container-fluid .navbar-collapse .navbar-nav .logo-header-undeployed {
  height: 2.5rem;
  margin-right: 1rem;
}
@media (max-width: 991px) {
  header .navbar .container-fluid .navbar-collapse .navbar-nav .logo-header-undeployed {
    display: none;
  }
}

.whatsapp-button {
  position: fixed;
  display: flex;
  z-index: 10;
  left: 95%;
  top: 90%;
}
.whatsapp-button .whats-1 {
  height: 4rem;
  position: absolute;
  transition: 0.5s;
}
.whatsapp-button .whats-1:hover {
  opacity: 0;
}
.whatsapp-button .whats-2 {
  height: 4rem;
}

.carousel-inicio {
  margin-top: 1rem;
  z-index: 1;
}

main {
  background-color: #121212;
  display: flex;
  justify-content: space-between;
}
main .bienvenido-container {
  color: white;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .bienvenido-container .texto-bienvenido {
  width: 50%;
}
main .bienvenido-container .texto-bienvenido .pre-tit {
  font-size: 1.5rem;
  margin: 0;
}
main .bienvenido-container .texto-bienvenido h1 {
  font-size: 5rem;
  margin: 0;
}
main .bienvenido-container .texto-bienvenido .post-tit {
  font-size: 1rem;
  margin-bottom: 2rem;
}
main .bienvenido-container .texto-bienvenido a {
  background-color: white;
  border: solid white 0.8rem;
  border-radius: 1rem;
  text-decoration: none;
  color: black;
}
main .bienvenido-container .imagen-container-entrada {
  width: 40%;
  overflow: hidden;
}
main .bienvenido-container .imagen-container-entrada img {
  height: 40rem;
}

footer {
  background-color: rgb(128, 128, 128);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .info-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .info-footer-container div {
  margin-bottom: 1rem;
}
footer .info-footer-container div .icon-footer {
  height: 1rem;
  margin-right: 0.5rem;
}
footer .info-footer-container div a {
  text-decoration: none;
  color: white;
}
footer .logo-footer {
  height: 3rem;
}
footer iframe {
  height: 10rem;
  border-radius: 1rem;
}

.resenas-container {
  display: flex;
  background: linear-gradient(169deg, rgb(49, 49, 49) 0%, rgb(18, 18, 18) 72%);
  padding: 3rem;
}
.resenas-container .cards-container .hor {
  display: flex;
}
.resenas-container .cards-container .hor .card {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  border: 0.1rem solid rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  padding: 1rem;
  justify-content: center;
  color: white;
  height: 18rem;
  width: 30%;
  margin: 1rem;
}
.resenas-container .cards-container .hor .card .pp-nombre-card {
  display: flex;
  color: white;
}
.resenas-container .cards-container .hor .card .pp-nombre-card .pp-resena {
  height: 1.75rem;
  margin-right: 0.5rem;
}

/*# sourceMappingURL=styles.css.map */
