main{
    background-color: #121212;
    display: flex;
    justify-content: space-between;

    .bienvenido-container{
        color: white;
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .texto-bienvenido{
            width: 50%;
            .pre-tit{
                font-size: 1.5rem;
                margin: 0;
            }

            h1{
                font-size: 5rem;   
                margin: 0;     
            }

            .post-tit {
                font-size: 1rem;
                margin-bottom: 2rem;
            }

            a {
                background-color: white;
                border: solid white 0.8rem;
                border-radius: 1rem;
                text-decoration: none;
                color: black;
            }
        }

        .imagen-container-entrada{
            width: 40%;
            overflow: hidden;
            img {
                height: 40rem;
            }
        }
        
    }
}