.whatsapp-button {
    position: fixed;
    display: flex;
    z-index: 10;
    left: 95%;
    top: 90%;
    .whats-1{
        height: 4rem;
        position: absolute;
        transition: 0.5s;
        
        &:hover{
            opacity: 0;
        }
    }
    
    .whats-2{
        height: 4rem;
    }
}

